In [2]:
import pandas as pd
import pylab as plt
import seaborn as sns
import numpy as np

In [5]:
test=pd.read_csv('../data/salaries_nor.csv', encoding ='latin')

In [4]:
test.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,0,0.859977,0.843493,0.027854,-0.383744,-0.119080,0.679021,0.799156,0.714862,0.756121,0.289918
1,1,0.859977,0.843493,0.027854,-0.383744,-0.122482,0.679021,0.799156,0.714862,0.756121,0.289918
2,2,-0.586023,-0.124371,0.027854,-1.476392,-0.145164,0.679021,0.799156,0.714862,0.756121,0.289918
3,3,-0.586023,-0.124371,-8.425971,1.404225,-0.034995,0.679021,0.799156,0.714862,0.756121,-1.240346
4,4,-0.586023,-0.124371,0.027854,-0.383744,-0.195712,-1.378378,0.361005,-1.743615,0.756121,-1.240346